<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<h1>Описание функционала</h1> <div style='white-space: pre-wrap'>
    <b>Set current coordinates</b> текущие координаты сканера подставляются в таблицу в строку 'Begin coordinates'

    <b>Points/Step</b> выбор разбиения пути: на определенное число точек или разбиение с заданным шагом

    <b>Shake/Lines</b> выбор траектории обхода точек: змейкой или по линиям

    <b>Relative coordinates</b> задает систему отсчета относительно текущего положения сканера.
    То есть делает нули строки 'Begin coordinates' в той точке, где находится сканер в данный момент.
    'End coordinates' будут выставлены относительно текущего положения сканера

    <b>Важно!</b> Порядок, в котором будут проводиться измерения вдоль осей, выставляется в строке 'Order'.
    Порядок '0' соответствует первому, '1' - второму и тд..
    Строка 'Status' позволяет отключить сканирование по соответствующей оси. Значение '1' включает ось,
    значение '0' выключает
</div>

